.about {
    margin: 5rem auto;
    h2 {
        padding-top: 4rem;
        font-size: 2rem;
        text-align: center;
    }
    p {
        padding-top: 2rem;
        max-width: 41rem;
        margin: 0 auto;
        line-height: 2rem;
        text-align: center;
        padding-bottom: 4rem;
    }
}