.offert {
    background-color: rgb(240,240,240);
    h2 {
        padding-top: 4rem;
        font-size: 2rem;
        text-align: center;
    }
    .offert-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        div {
            text-align: center;
            background-color: white;
            margin: 1rem 0;
            width: 50rem;
            border-radius: 1rem;
            h3 {
                text-transform: uppercase;
                line-height: 2rem;
            }
        }
    }
}